.underline-effect {
	position: relative;
	display: inline-block;
	transition: transform 0.3s ease-in-out;
}

.underline-effect::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: -2px;
	left: 0;
	background-color: white;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s ease-in-out;
}

.underline-effect:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

body {
	background-color: rgba(245, 240, 236, 1);
	font-family: 'Montserrat', sans-serif;

}

.rounded-card {
	border-radius: 20px;
}

.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	align-items: center;
	justify-content: center;
	z-index: 1000;
}
.popup img {
	max-width: 90%;
	max-height: 90%;
}

/* i've used https://w3bits.com/css-masonry/  below*/

.masonry {
	column-count: 2;
}

.item {
	display: inline-block;
	margin: 0 0 2em;
	max-width: 100%;
  background-size: cover;

}

@media (min-width: 768px) {
	.masonry {
		column-count: 3;
	}
}

@media (min-width: 1450px) {
	.masonry {
		column-count: 4;
	}
}
/* ___________ */

.gradient {
	background: linear-gradient(360deg, #dcc1ab 0%, rgba(214, 183, 158, 0) 100%);
}

@keyframes slide-up {
	0% {
		 transform: translateY(20px);
		 opacity: 0;
	}
	100% {
		 transform: translateY(0);
		 opacity: 1;
	}
}

#searchContainer {
	animation: slide-up 0.3s ease-in-out;
}


